@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
$roboto-slab: 'Roboto Slab', serif;   
$open-sans: 'Open Sans', sans-serif;
$primary-color: #2ba6cb;
$secondary-color: #3EDBF0;
$text-primary: #ffffff;

.container {
    background-image: url("../Images/LOONA&.jpg");
    height: 750px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    opacity: 0.8;
    .text-container {
        background: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5));
        height: 300px;
        width: 600px;
        position: absolute;
        left: 50%;
        top: 10%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        text-align: center;
        border-radius: 5px;

    }
    .title {
        color: $text-primary;
        font-family: $roboto-slab;
        font-size: 64px;
        margin: 0 auto;
    }

    .subtitle {
        color: $text-primary;
        font-family: $open-sans;
        font-size: 24px;
        margin: 0;
    }

    .sub-subtitle {
        color: $text-primary;
        font-family: $open-sans;
        font-size: 18px;
        margin: 10px 0 10px 0;
    }

    Button {
        color: $text-primary;
        background-color: $primary-color;
        padding: 5px;
        margin-top: 20px;
        margin-right: 10px;
        cursor: pointer;
        border-radius: 5px;

        &:hover {
            background-color: $secondary-color;
        }
    
        &:active {
            transform: scale(0.98);
        }
    }


    .not-container {
        background: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5));
        height: 150px;
        width: 400px;
        position: absolute;
        left: 50%;
        bottom: 10%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        text-align: center;
        border-radius: 5px;
    }

    .sub-sub-subtitle {
        color: $text-primary;
        font-family: $open-sans;
        font-size: 18px;
        margin: 10px 0 10px 0;
    }
}