@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
$roboto-slab: 'Roboto Slab', serif;   
$open-sans: 'Open Sans', sans-serif;
$primary-color: #2ba6cb;
$secondary-color: #3EDBF0;
$text-primary: #ffffff;

.idalso-container {
    background: linear-gradient(rgba(241, 58, 144, 0.5), rgba(15, 178, 243, 0.5));
    height: 500px;
    overflow-y: scroll;
    width: 900px;
    position: absolute;
    left: 50%;
    top: 10%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);

    border-radius: 5px;

    .titless {
        color: $text-primary;
        font-family: $roboto-slab;
        font-size: 64px;
        margin: 0 auto;
    }
    .idalso-text {
        text-align: left;
        color: $text-primary;
    }

}